@model DataBaseAccessLayer.Model.EnquiryModel

@{
    ViewBag.Title = "Enquiry Page";
}

<div style="padding-top:100px;">
    <h1></h1>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<style>
    body {
        background-image: url('../../Images/Home/Home5.jfif');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .bg-white {
        border: solid;
        border-color: #f15a28;
        margin: 0 auto;
    }

    .required::after {
        content: ' *';
        color: red;
    }
</style>
@section Enquiry{
    <div class="row g-2 col-md-8 p-3 bg-white">
        <h2 align="center"><b>Enquiry</b></h2>
        <form class="row g-2 col-md-12 needs-validation" action="#" method="post" novalidate>
            <div class="col-md-6">
                <label for="name" class="form-label required">Name</label>
                @Html.TextBoxFor(Model => Model.Enquiry_Name, new { @class = "form-control", @id = "validationCustom01", @placeholder = "Enter Your Name", @required = "required" })
                <div class="invalid-feedback">
                    Please Enter Your Name.
                </div>
            </div>
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label required">Email</label>
                @Html.TextBoxFor(Model => Model.Enquiry_Email, new { @class = "form-control", @id = "validationCustom02", @placeholder = "Enter Your Email", @required = "required" })
                <div class="invalid-feedback">
                    Please Enter Your Email.
                </div>
            </div>
            <div class="col-md-6">
                <label for="phone" class="form-label required">Phone</label>
                @Html.TextBoxFor(Model => Model.Enquiry_Phone, new { @class = "form-control", @id = "validationCustom03", @placeholder = "Enter Your Phone", @required = "required" })
                <div class="invalid-feedback">
                    Please Enter Your Phone Number.
                </div>
            </div>
            <div class="col-md-6">
                <label for="Organization" class="form-label required">Organization</label>
                @Html.TextBoxFor(Model => Model.Enquiry_Organization, new { @class = "form-control", @id = "validationCustom04", @placeholder = "Enter Your Organization", @required = "required" })
                <div class="invalid-feedback">
                    Please Enter Your Organization.
                </div>
            </div>
            <div class="col-md-3">
                <label for="Enquiry" class="form-label required">Enquiry Type</label>
                @*@Html.DropDownListFor(Model => Model.Enquiry_Type, new SelectList(Model.EnquiryTypeList), new { @class = "form-control form-select" })*@
            </div>
            <div class="col-md-3">
                <label for="validationCustom08" class="form-label">State</label>
                @*<select class="form-select" id="validationCustom08" required>
                        <option selected disabled value="">Choose...</option>
                        <option>Madhya Pradesh</option>
                    </select>*@

                @Html.DropDownListFor(m => m.StateId, ViewBag.StateList as SelectList, "--Select State--", new { @class = "form-control" })
                <div class="invalid-feedback">
                    Please select a valid State.
                </div>
            </div>
            <div class="col-md-3">
                <label for="validationCustom09" class="form-label">City</label>
                @*<select class="form-select" id="validationCustom09" required>
                        <option selected disabled value="">Choose...</option>
                        <option>Bhopal</option>
                    </select>*@
                @Html.DropDownListFor(m => m.CityId, new SelectList(""), "--Select City--", new { @class = "form-control" })
                <div class="invalid-feedback">
                    Please select a valid City.
                </div>
            </div>
            <div class="col-md-3">
                <label for="inputZip" class="form-label required">Zip</label>
                @Html.TextBoxFor(Model => Model.Enquiry_Zip, new { @class = "form-control", @id = "validationCustom05", @placeholder = "Enter Your Zip", @required = "required" })
                <div class="invalid-feedback">
                    Please Enter Your Zip.
                </div>
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label required">Address</label>
                @Html.TextBoxFor(Model => Model.Enquiry_Address, new { @class = "form-control", @id = "validationCustom06", @placeholder = "Enter Your Address", @required = "required" })
                <div class="invalid-feedback">
                    Please Enter Your Address.
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group mt-2">
                    <label for="exampleFormControlTextarea1" class="form-label required">Query/Concern</label>
                    @Html.TextAreaFor(Model => Model.Enquiry_Quiery, new { @class = "form-control", @rows = "3", @name = "textarea", @placeholder = "Enter Your Query/Concern", @id = "validationCustom07", @required = "required" })
                    <div id="count">
                        <span id="current_count">0</span>
                        <span id="maximum_count">/ 500</span>
                    </div>
                    <div class="invalid-feedback">
                        Please Enter Your Query/Concern.
                    </div>
                </div>
            </div>
            <div class="col-6" align="right">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
            <div class="col-6">
                <button type="reset" class="btn btn-danger">Clear</button>
            </div>
        </form>
    </div>



    
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>



        $(document).ready(function () {
            $('#CityId').attr('disabled', 'disabled');
            debugger
            $("#StateId").change(function () {
                var stateId = $(this).val();
                debugger
                $.ajax({
                    type: "post",
                    url: "/Home/GetCityList?StateID=" + stateId,
                    contenttype: "html",
                    success: function (response) {
                        debugger
                        $('#CityId').removeAttr('disabled');
                        $("#CityId").empty();
                        $("#CityId").append(response);

                    }
                })
            })

        })
    </script>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    // message //
    $('#validationCustom07').keyup(function () {
        var characterCount = $(this).val().length,
            current_count = $('#current_count'),
            maximum_count = $('#maximum_count'),
            count = $('#count');
        current_count.text(characterCount);
    });





    </script>
    <br />
}


