@model IEnumerable<DataBaseAccessLayer.Model.SignUpModel>

@{
    ViewBag.Title = "Wellcome";
}
<style>
    .table{
        border: 2px solid black;
    }
</style>

<h2>Wellcome</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" >
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userPassword)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userPassword)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
